# Node modules
frontend/node_modules/
backend/node_modules/

# Angular files
frontend/.angular/
frontend/dist/
frontend/testes-selenium/node_modules/

# Backend files
backend/.env

# Miscellaneous
/tmp
/out-tsc
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# System files
.DS_Store
Thumbs.db

# Ensure these files are NOT ignored
!frontend/package.json
!frontend/package-lock.json
!backend/package.json
!backend/package-lock.json
!backend/data/produtos.json
# Dependências e saídas em qualquer nível
node_modules/
.angular/
dist/
coverage/
*.log
